.hrefs-list{
    margin-top:10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit,250px);
    justify-content:center;
    &>*{
        display: flex;
        justify-content:center;
        padding: 10px;
        a{
            display: flex;
            justify-content:center;
            width: 100%;
            height: 20px;
            background-color: rgb(44, 42, 42);
            color: rgb(255, 255, 255);
            font-size: 20px;
            border-radius:3px;
            
            &:hover{
                background-color:rgb(255, 255, 255) ;
                color: rgb(44, 42, 42);
            }
        }
    }
}